[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
django = "==3.2.18"
djangorestframework = "*"
drf-extensions = "*"

[dev-packages]

[requires]
python_version = "3.8"
